@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);
}

body {
	margin: 0;
}
p {
	font-family: var(--content);
	font-size: 1.2rem;
	color: var(--paragraph);
}

@media screen and (max-width: 900px) {
	.paragraph {
		font-size: 1rem;
	}
}
/*UTILS*/

.u-center-text {
	text-align: center !important;
}

.u-margin-bottom-small {
	margin-bottom: 0.8rem !important;
}

.u-margin-bottom-medium {
	margin-bottom: 2rem !important;
}

.u-margin-bottom-big {
	margin-bottom: 5rem !important;
}

.u-margin-top-big {
	margin-top: 5rem !important;
}
.u-margin-top-huge {
	margin-top: 8rem !important;
}

img {
	position: relative !important;
}

*:focus-visible {
	outline: red;
}
